@{
    ViewData["Title"] = "Cadastrar Lojas";
}

<div class="text">
    <h1 class="display-4">Cadastrar loja</h1>
    <hr>
       
</div>
<div class="container">
    <form action="Cadastramento" method="POST">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" required>
        </div>  
        <div class="form-group" >
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div> 

        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="piso">Piso</label>
                <select class="form-control form-control-sm" name="piso" id="piso" required>
                    <option value="" disabled selected>Selecione o piso da loja</option>
                    <option value="1">Piso 1</option>
                    <option value="2">Piso 2</option>
                    <option value="3">Piso 3</option>                        
                </select>
            </div>
                <div class="form-group col-md-6">
                    <label for="piso">Categoria</label>
                    <select class="form-control form-control-sm" name="categoria" id="categoria" required>
                        <option value="" disabled selected>Selecione a categoria da loja: </option>
                        <option value="Loja">Loja</option>
                        <option value="Kiosque">Kiosque</option>
                    </select>
            </div>
        
        </div>              

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>